/* Colors */
:root {
  /* Mode 1 */
  /* color */
  --root-base-black: #000000;
  --root-base-white: #ffffff;
  --root-blue-100: #e0eef8;
  --root-blue-200: #c1def2;
  --root-blue-300: #a2cdec;
  --root-blue-400: #83bde5;
  --root-blue-500: #64acdf;
  --root-blue-600: #469cd9;
  --root-blue-700: #3a82b4;
  --root-blue-800: #2e6890;
  --root-blue-900: #234e6c;
  --root-gray-100: #edeff2;
  --root-gray-200: #dce0e6;
  --root-gray-300: #cbd1d9;
  --root-gray-400: #a8b2c0;
  --root-gray-500: #7d8796;
  --root-gray-600: #646c78;
  --root-gray-700: #4b515a;
  --root-gray-800: #32363c;
  --root-gray-900: #191b1e;
  --root-green-100: #e3f3e4;
  --root-green-200: #c7e8ca;
  --root-green-300: #abddb0;
  --root-green-400: #8fd295;
  --root-green-500: #73c77b;
  --root-green-600: #57bc61;
  --root-green-700: #489c50;
  --root-green-800: #3a7d40;
  --root-green-900: #2b5e30;
  --root-orange-100: #fbecdf;
  --root-orange-200: #f7dabf;
  --root-orange-300: #f4c8a0;
  --root-orange-400: #f0b680;
  --root-orange-500: #eca460;
  --root-orange-600: #e99241;
  --root-orange-700: #c27936;
  --root-orange-800: #9b612b;
  --root-orange-900: #744920;
  --root-pink-100: #fbe1ea;
  --root-pink-200: #f8c3d6;
  --root-pink-300: #f5a6c2;
  --root-pink-400: #f188ad;
  --root-pink-500: #ee6a99;
  --root-pink-600: #eb4d85;
  --root-pink-700: #c3406e;
  --root-pink-800: #9c3358;
  --root-pink-900: #752642;
  --root-purple-100: #eae2fa;
  --root-purple-200: #d5c5f5;
  --root-purple-300: #c0a8f1;
  --root-purple-400: #ab8bec;
  --root-purple-500: #966ee7;
  --root-purple-600: #8152e3;
  --root-purple-700: #6b44bd;
  --root-purple-800: #563697;
  --root-purple-900: #402971;
  --root-red-100: #f8e0e0;
  --root-red-200: #f2c1c1;
  --root-red-300: #eca3a3;
  --root-red-400: #e68484;
  --root-red-500: #e06565;
  --root-red-600: #da4747;
  --root-red-700: #b53b3b;
  --root-red-800: #912f2f;
  --root-red-900: #6d2323;
  --root-teal-100: #e2faf7;
  --root-teal-200: #c5f5f0;
  --root-teal-300: #a8f1e8;
  --root-teal-400: #8bece1;
  --root-teal-500: #52e3d2;
  --root-teal-600: #44bdaf;
  --root-teal-700: #36978c;
  --root-teal-800: #297169;
  --root-teal-900: #1b4b46;
  --root-yellow-100: #fcf8d6;
  --root-yellow-200: #f9f1ad;
  --root-yellow-300: #f6eb84;
  --root-yellow-400: #f3e45b;
  --root-yellow-500: #f0dd32;
  --root-yellow-600: #eed70a;
  --root-yellow-700: #c6b308;
  --root-yellow-800: #9e8f06;
  --root-yellow-900: #776b05;
  --tokens-background-base-overlay: #1f1f1f80;
  --tokens-background-base-surface-1: var(--root-base-white);
  --tokens-background-base-surface-2: var(--root-gray-100);
  --tokens-background-base-surface-3: var(--root-gray-200);
  --tokens-background-base-surface-4: var(--root-gray-300);
  --tokens-background-inverse-overlay: #ffffff80;
  --tokens-background-inverse-surface-1: var(--root-gray-800);
  --tokens-background-inverse-surface-2: var(--root-gray-600);
  --tokens-background-inverse-surface-3: var(--root-gray-500);
  --tokens-background-inverse-surface-4: var(--root-gray-400);
  --tokens-brand-primary-default: var(--root-blue-600);
  --tokens-brand-primary-heavy: var(--root-blue-800);
  --tokens-brand-primary-subdue: var(--root-blue-400);
  --tokens-brand-secondary-default: var(--root-orange-600);
  --tokens-brand-secondary-heavy: var(--root-orange-800);
  --tokens-brand-secondary-light: var(--root-orange-500);
  --tokens-button-background-ghost-default: var(--root-base-white);
  --tokens-button-background-ghost-disabled: var(--root-base-white);
  --tokens-button-background-ghost-focus: var(--root-blue-200);
  --tokens-button-background-ghost-hover: var(--root-blue-100);
  --tokens-button-background-primary-default: var(--root-blue-600);
  --tokens-button-background-primary-disabled: var(--root-blue-200);
  --tokens-button-background-primary-focus: var(--root-blue-800);
  --tokens-button-background-primary-hover: var(--root-blue-500);
  --tokens-button-background-secondary-default: var(--root-base-white);
  --tokens-button-background-secondary-disabled: var(--root-base-white);
  --tokens-button-background-secondary-focus: var(--root-blue-200);
  --tokens-button-background-secondary-hover: var(--root-blue-100);
  --tokens-button-content-ghost-default: var(--root-blue-600);
  --tokens-button-content-ghost-disabled: var(--root-blue-200);
  --tokens-button-content-ghost-focus: var(--root-blue-700);
  --tokens-button-content-ghost-hover: var(--root-blue-500);
  --tokens-button-content-primary-default: var(--root-base-white);
  --tokens-button-content-primary-disabled: var(--root-base-white);
  --tokens-button-content-primary-focus: var(--root-base-white);
  --tokens-button-content-primary-hover: var(--root-base-white);
  --tokens-button-content-secondary-default: var(--root-blue-600);
  --tokens-button-content-secondary-disabled: var(--root-blue-200);
  --tokens-button-content-secondary-focus: var(--root-blue-700);
  --tokens-button-content-secondary-hover: var(--root-blue-500);
  --tokens-button-stroke-primary-default: var(--root-base-white);
  --tokens-button-stroke-primary-disabled: var(--root-base-white);
  --tokens-button-stroke-primary-focus: var(--root-base-white);
  --tokens-button-stroke-primary-hover: var(--root-base-white);
  --tokens-button-stroke-secondary-default: var(--root-blue-600);
  --tokens-button-stroke-secondary-disabled: var(--root-blue-100);
  --tokens-button-stroke-secondary-focus: var(--root-blue-200);
  --tokens-button-stroke-secondary-hover: var(--root-blue-100);
  --tokens-content-base-default: var(--root-gray-600);
  --tokens-content-base-heavy: var(--root-gray-900);
  --tokens-content-base-muted: var(--root-gray-300);
  --tokens-content-base-subdue: var(--root-gray-500);
  --tokens-content-inverse-default: var(--root-gray-200);
  --tokens-content-inverse-heavy: var(--root-base-white);
  --tokens-content-inverse-muted: var(--root-gray-400);
  --tokens-content-inverse-subdue: var(--root-gray-300);
  --tokens-input-background-default: var(--root-base-white);
  --tokens-input-background-disabled: var(--root-gray-100);
  --tokens-input-background-error: var(--root-base-white);
  --tokens-input-background-focus: var(--root-base-white);
  --tokens-input-background-subdue: var(--root-base-white);
  --tokens-input-content-default: var(--root-gray-500);
  --tokens-input-content-disabled: var(--root-gray-400);
  --tokens-input-content-error: var(--root-red-600);
  --tokens-input-content-focus: var(--root-gray-600);
  --tokens-input-content-subdue: var(--root-gray-300);
  --tokens-input-decoration-directions: var(--root-gray-500);
  --tokens-input-decoration-label: var(--root-gray-800);
  --tokens-input-decoration-message-default: var(--root-gray-500);
  --tokens-input-decoration-message-error: var(--root-red-500);
  --tokens-input-stroke-default: var(--root-gray-200);
  --tokens-input-stroke-disabled: var(--root-gray-200);
  --tokens-input-stroke-error: var(--root-red-500);
  --tokens-input-stroke-focus: var(--tokens-brand-primary-default);
  --tokens-input-stroke-subdue: var(--root-gray-100);
  --tokens-status-error-default: var(--root-red-500);
  --tokens-status-error-heavy: var(--root-red-800);
  --tokens-status-error-subdue: var(--root-red-100);
  --tokens-status-info-default: var(--root-blue-600);
  --tokens-status-info-heavy: var(--root-blue-800);
  --tokens-status-info-subdue: var(--root-blue-100);
  --tokens-status-success-default: var(--root-green-600);
  --tokens-status-success-heavy: var(--root-green-800);
  --tokens-status-success-subdue: var(--root-green-100);
  --tokens-status-warning-default: var(--root-orange-600);
  --tokens-status-warning-heavy: var(--root-orange-800);
  --tokens-status-warning-subdue: var(--root-orange-200);
  --tokens-stroke-base-default: var(--root-gray-100);
  --tokens-stroke-base-focus: var(--root-blue-800);
  --tokens-stroke-base-heavy: var(--root-gray-300);
  --tokens-stroke-base-subdue: var(--root-gray-100);
  --tokens-stroke-inverse-default: var(--root-gray-500);
  --tokens-stroke-inverse-focus: var(--root-blue-700);
  --tokens-stroke-inverse-heavy: var(--root-gray-300);
  --tokens-stroke-inverse-subdue: var(--root-gray-600);
}
/* Typography */
:root {
  /* Mode 1 */
  /* number */
  --body-large-bold-letter-spacing: 0rem;
  --body-large-bold-paragraph-spacing: 0rem;
  --body-large-bold-font-size: 1.125rem;
  --body-large-bold-line-height: 1.5rem;
  --body-large-bold-font-weight: 700;
  --body-large-medium-letter-spacing: 0rem;
  --body-large-medium-paragraph-spacing: 0rem;
  --body-large-medium-font-size: 1.125rem;
  --body-large-medium-line-height: 1.5rem;
  --body-large-medium-font-weight: 600;
  --body-large-regular-letter-spacing: 0rem;
  --body-large-regular-paragraph-spacing: 0rem;
  --body-large-regular-font-size: 1.125rem;
  --body-large-regular-line-height: 1.5rem;
  --body-large-regular-font-weight: 400;
  --body-medium-bold-letter-spacing: 0rem;
  --body-medium-bold-paragraph-spacing: 0rem;
  --body-medium-bold-font-size: 1rem;
  --body-medium-bold-line-height: 1.25rem;
  --body-medium-bold-font-weight: 700;
  --body-medium-medium-letter-spacing: 0rem;
  --body-medium-medium-paragraph-spacing: 0rem;
  --body-medium-medium-font-size: 1rem;
  --body-medium-medium-line-height: 1.25rem;
  --body-medium-medium-font-weight: 600;
  --body-medium-regular-letter-spacing: 0rem;
  --body-medium-regular-paragraph-spacing: 0rem;
  --body-medium-regular-font-size: 1rem;
  --body-medium-regular-line-height: 1.25rem;
  --body-medium-regular-font-weight: 400;
  --body-small-bold-letter-spacing: 0rem;
  --body-small-bold-paragraph-spacing: 0rem;
  --body-small-bold-font-size: 0.875rem;
  --body-small-bold-line-height: 1.125rem;
  --body-small-bold-font-weight: 700;
  --body-small-medium-letter-spacing: 0rem;
  --body-small-medium-paragraph-spacing: 0rem;
  --body-small-medium-font-size: 0.875rem;
  --body-small-medium-line-height: 1.125rem;
  --body-small-medium-font-weight: 600;
  --body-small-regular-letter-spacing: 0rem;
  --body-small-regular-paragraph-spacing: 0rem;
  --body-small-regular-font-size: 0.875rem;
  --body-small-regular-line-height: 1.125rem;
  --body-small-regular-font-weight: 400;
  --body-xsmall-bold-letter-spacing: 0rem;
  --body-xsmall-bold-paragraph-spacing: 0rem;
  --body-xsmall-bold-font-size: 0.75rem;
  --body-xsmall-bold-line-height: 1rem;
  --body-xsmall-bold-font-weight: 700;
  --body-xsmall-medium-letter-spacing: 0rem;
  --body-xsmall-medium-paragraph-spacing: 0rem;
  --body-xsmall-medium-font-size: 0.75rem;
  --body-xsmall-medium-line-height: 1rem;
  --body-xsmall-medium-font-weight: 600;
  --body-xsmall-regular-letter-spacing: 0rem;
  --body-xsmall-regular-paragraph-spacing: 0rem;
  --body-xsmall-regular-font-size: 0.75rem;
  --body-xsmall-regular-line-height: 1rem;
  --body-xsmall-regular-font-weight: 400;
  --display-large-bold-letter-spacing: 0rem;
  --display-large-bold-paragraph-spacing: 0rem;
  --display-large-bold-font-size: 4.5rem;
  --display-large-bold-line-height: 5.125rem;
  --display-large-bold-font-weight: 700;
  --display-large-medium-letter-spacing: 0rem;
  --display-large-medium-paragraph-spacing: 0rem;
  --display-large-medium-font-size: 4.5rem;
  --display-large-medium-line-height: 5.125rem;
  --display-large-medium-font-weight: 600;
  --display-large-regular-letter-spacing: 0rem;
  --display-large-regular-paragraph-spacing: 0rem;
  --display-large-regular-font-size: 4.5rem;
  --display-large-regular-line-height: 5.125rem;
  --display-large-regular-font-weight: 400;
  --display-medium-bold-letter-spacing: 0rem;
  --display-medium-bold-paragraph-spacing: 0rem;
  --display-medium-bold-font-size: 3.75rem;
  --display-medium-bold-line-height: 4.25rem;
  --display-medium-bold-font-weight: 700;
  --display-medium-medium-letter-spacing: 0rem;
  --display-medium-medium-paragraph-spacing: 0rem;
  --display-medium-medium-font-size: 3.75rem;
  --display-medium-medium-line-height: 4.25rem;
  --display-medium-medium-font-weight: 600;
  --display-medium-regular-letter-spacing: 0rem;
  --display-medium-regular-paragraph-spacing: 0rem;
  --display-medium-regular-font-size: 3.75rem;
  --display-medium-regular-line-height: 4.25rem;
  --display-medium-regular-font-weight: 400;
  --display-small-bold-letter-spacing: 0rem;
  --display-small-bold-paragraph-spacing: 0rem;
  --display-small-bold-font-size: 2.625rem;
  --display-small-bold-line-height: 3.25rem;
  --display-small-bold-font-weight: 700;
  --display-small-medium-letter-spacing: 0rem;
  --display-small-medium-paragraph-spacing: 0rem;
  --display-small-medium-font-size: 2.625rem;
  --display-small-medium-line-height: 3.25rem;
  --display-small-medium-font-weight: 600;
  --display-small-regular-letter-spacing: 0rem;
  --display-small-regular-paragraph-spacing: 0rem;
  --display-small-regular-font-size: 2.625rem;
  --display-small-regular-line-height: 3.25rem;
  --display-small-regular-font-weight: 400;
  --heading-large-bold-letter-spacing: 0rem;
  --heading-large-bold-paragraph-spacing: 0rem;
  --heading-large-bold-font-size: 1.75rem;
  --heading-large-bold-line-height: 2.25rem;
  --heading-large-bold-font-weight: 700;
  --heading-large-medium-letter-spacing: 0rem;
  --heading-large-medium-paragraph-spacing: 0rem;
  --heading-large-medium-font-size: 1.75rem;
  --heading-large-medium-line-height: 2.25rem;
  --heading-large-medium-font-weight: 600;
  --heading-large-regular-letter-spacing: 0rem;
  --heading-large-regular-paragraph-spacing: 0rem;
  --heading-large-regular-font-size: 1.75rem;
  --heading-large-regular-line-height: 2.25rem;
  --heading-large-regular-font-weight: 400;
  --heading-medium-bold-letter-spacing: 0rem;
  --heading-medium-bold-paragraph-spacing: 0rem;
  --heading-medium-bold-font-size: 1.5rem;
  --heading-medium-bold-line-height: 2rem;
  --heading-medium-bold-font-weight: 700;
  --heading-medium-medium-letter-spacing: 0rem;
  --heading-medium-medium-paragraph-spacing: 0rem;
  --heading-medium-medium-font-size: 1.5rem;
  --heading-medium-medium-line-height: 2rem;
  --heading-medium-medium-font-weight: 600;
  --heading-medium-regular-letter-spacing: 0rem;
  --heading-medium-regular-paragraph-spacing: 0rem;
  --heading-medium-regular-font-size: 1.5rem;
  --heading-medium-regular-line-height: 2rem;
  --heading-medium-regular-font-weight: 400;
  --heading-small-bold-letter-spacing: 0rem;
  --heading-small-bold-paragraph-spacing: 0rem;
  --heading-small-bold-font-size: 1.25rem;
  --heading-small-bold-line-height: 1.75rem;
  --heading-small-bold-font-weight: 700;
  --heading-small-medium-letter-spacing: 0rem;
  --heading-small-medium-paragraph-spacing: 0rem;
  --heading-small-medium-font-size: 1.25rem;
  --heading-small-medium-line-height: 1.75rem;
  --heading-small-medium-font-weight: 600;
  --heading-small-regular-letter-spacing: 0rem;
  --heading-small-regular-paragraph-spacing: 0rem;
  --heading-small-regular-font-size: 1.25rem;
  --heading-small-regular-line-height: 1.75rem;
  --heading-small-regular-font-weight: 400;
  --heading-xsmall-bold-letter-spacing: 0rem;
  --heading-xsmall-bold-paragraph-spacing: 0rem;
  --heading-xsmall-bold-font-size: 1.125rem;
  --heading-xsmall-bold-line-height: 1.5rem;
  --heading-xsmall-bold-font-weight: 700;
  --heading-xsmall-medium-letter-spacing: 0rem;
  --heading-xsmall-medium-paragraph-spacing: 0rem;
  --heading-xsmall-medium-font-size: 1.125rem;
  --heading-xsmall-medium-line-height: 1.5rem;
  --heading-xsmall-medium-font-weight: 600;
  --heading-xsmall-regular-letter-spacing: 0rem;
  --heading-xsmall-regular-paragraph-spacing: 0rem;
  --heading-xsmall-regular-font-size: 1.125rem;
  --heading-xsmall-regular-line-height: 1.5rem;
  --heading-xsmall-regular-font-weight: 400;
  /* string */
  --body-large-bold-font-family: Inter;
  --body-large-bold-font-style: Bold;
  --body-large-medium-font-family: Inter;
  --body-large-medium-font-style: Medium;
  --body-large-regular-font-family: Inter;
  --body-large-regular-font-style: Regular;
  --body-medium-bold-font-family: Inter;
  --body-medium-bold-font-style: Bold;
  --body-medium-medium-font-family: Inter;
  --body-medium-medium-font-style: Medium;
  --body-medium-regular-font-family: Inter;
  --body-medium-regular-font-style: Regular;
  --body-small-bold-font-family: Inter;
  --body-small-bold-font-style: Bold;
  --body-small-medium-font-family: Inter;
  --body-small-medium-font-style: Medium;
  --body-small-regular-font-family: Inter;
  --body-small-regular-font-style: Regular;
  --body-xsmall-bold-font-family: Inter;
  --body-xsmall-bold-font-style: Bold;
  --body-xsmall-medium-font-family: Inter;
  --body-xsmall-medium-font-style: Medium;
  --body-xsmall-regular-font-family: Inter;
  --body-xsmall-regular-font-style: Regular;
  --display-large-bold-font-family: Plus Jakarta Sans;
  --display-large-bold-font-style: Bold;
  --display-large-medium-font-family: Plus Jakarta Sans;
  --display-large-medium-font-style: Medium;
  --display-large-regular-font-family: Plus Jakarta Sans;
  --display-large-regular-font-style: Regular;
  --display-medium-bold-font-family: Plus Jakarta Sans;
  --display-medium-bold-font-style: Bold;
  --display-medium-medium-font-family: Plus Jakarta Sans;
  --display-medium-medium-font-style: Medium;
  --display-medium-regular-font-family: Plus Jakarta Sans;
  --display-medium-regular-font-style: Regular;
  --display-small-bold-font-family: Plus Jakarta Sans;
  --display-small-bold-font-style: Bold;
  --display-small-medium-font-family: Plus Jakarta Sans;
  --display-small-medium-font-style: Medium;
  --display-small-regular-font-family: Plus Jakarta Sans;
  --display-small-regular-font-style: Regular;
  --heading-large-bold-font-family: Plus Jakarta Sans;
  --heading-large-bold-font-style: Bold;
  --heading-large-medium-font-family: Plus Jakarta Sans;
  --heading-large-medium-font-style: Medium;
  --heading-large-regular-font-family: Plus Jakarta Sans;
  --heading-large-regular-font-style: Regular;
  --heading-medium-bold-font-family: Plus Jakarta Sans;
  --heading-medium-bold-font-style: Bold;
  --heading-medium-medium-font-family: Plus Jakarta Sans;
  --heading-medium-medium-font-style: Medium;
  --heading-medium-regular-font-family: Plus Jakarta Sans;
  --heading-medium-regular-font-style: Regular;
  --heading-small-bold-font-family: Plus Jakarta Sans;
  --heading-small-bold-font-style: Bold;
  --heading-small-medium-font-family: Plus Jakarta Sans;
  --heading-small-medium-font-style: Medium;
  --heading-small-regular-font-family: Plus Jakarta Sans;
  --heading-small-regular-font-style: Regular;
  --heading-xsmall-bold-font-family: Plus Jakarta Sans;
  --heading-xsmall-bold-font-style: Bold;
  --heading-xsmall-medium-font-family: Plus Jakarta Sans;
  --heading-xsmall-medium-font-style: Medium;
  --heading-xsmall-regular-font-family: Plus Jakarta Sans;
  --heading-xsmall-regular-font-style: Regular;
}
/* Spacing */
:root {
  /* Mode 1 */
  /* number */
  --spacing-050: 0.25rem;
  --spacing-100: 0.5rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-250: 1.25rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-700: 3.5rem;
  --spacing-800: 4rem;
  --spacing-900: 4.5rem;
  --spacing-1000: 5rem;
}
/* Borders */
:root {
  /* Mode 1 */
  /* number */
  --border-radius-0: 0rem;
  --border-radius-300: 0rem;
  --border-radius-050: 0.25rem;
  --border-radius-100: 0.5rem;
  --border-radius-150: 0.75rem;
  --border-radius-200: 1rem;
}
